$break-small:768px;
//$break-medium:900px;

//--------------------------------
// header
//--------------------------------
.page-header {
  width:980px;
  margin:0 auto;
  background:#ccc;
  .logo {
    font-size:20px;
    text-align:cneter;
  }
  @media(max-width:$break-small) {
    @include box-sizing(border-box);
    width:100%;
    padding:15px;
    .logo {
      text-align:left;
      padding:15px;
    }
  }
}
.btn-menu {
  display:none;
  @media(max-width:$break-small) {
    display:block;
    position:absolute;
    top:15px;
    right:15px;
    background:#000;
    color:#fff;
    width:20px;
    padding:12px 10px;
    text-align:center;
    div {
      @include transition(all .2s ease);
    }
    &.open {
      .btn-menu__top {
        @include transform(rotate(45deg) translate(4px,4px));
      }
      .btn-menu__middle {
        @include opacity(0);
      }
      .btn-menu__bottom {
        @include transform(rotate(-45deg) translate(4px,-4px));
      }
    }
  }
}
.btn-menu__top {
  margin:0 0 4px;
  border-top:2px solid #fff;
}
.btn-menu__middle {
  margin:0 0 4px;
  border-top:2px solid #fff;
}
.btn-menu__bottom {
  border-top:2px solid #fff;
}
.gnav {
  li {
    //980/5=196
    width:196px;
    display:inline-block;
    background:#ddd;
  }
  a {
    padding:5px 0;
    text-align:center;
    display:block;
    text-decoration:none;
    color:#000;
  }
  @media(max-width:$break-small) {
    display:none;
    li {
      width:100%;
      display:block;
    }
    a {
      padding:15px;
    }
  }
}
//--------------------------------
// gnav
//--------------------------------
.page-footer {
  width:980px;
  margin:0 auto;
  background:#efefef;
  .cr {
    text-align:center;
    font-size:12px;
  }
  @media(max-width:$break-small) {
    @include box-sizing(border-box);
    width:100%;
    padding:15px;
  }
}
//--------------------------------
// contents
//--------------------------------
.contents {
  width:980px;
  margin:0 auto;
  overflow:hidden;
  @media(max-width:$break-small) {
    width:100%;
  }
}
.contents__main {
  float:left;
  width:760px;
  background:#efefef;
  @media(max-width:$break-small) {
    @include box-sizing(border-box);
    float:none;
    width:100%;
  }
}
.contents__aside {
  float:right;
  width:200px;
  background:#cdcdcd;
  @media(max-width:$break-small) {
    @include box-sizing(border-box);
    float:none;
    width:100%;
  }
}
.heading-lv1 {
  font-size:18px;
  font-weight:bold;
}
.heading-lv2 {
  font-size:16px;
  font-weight:bold;
}
.heading-lv3 {
  font-width:bold;
}